.myButton {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#showcase1 {
    background: white;
    /*background: url('/images/index.jpg') repeat center center / cover;*/
    height: 100vh;
}

#showcase {
    background: white;
    background: url('/images/audi.jpg') repeat center center / cover;
    height: 100vh;
}

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 1.5rem;
}

#main-footer a {
    color: #f96816;
    text-decoration: underline;
}

.or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

.or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}

.or span {
    color: #ccc;
    padding: 0 0.8rem;
}

.bg{
    background: lavender;
}

.bg-title-list{
    background-color: orange;
}

.paragraf{
    color: darkcyan;
    margin: auto;
    position: center;
}

.nav{
    position: center;
}

.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}


.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}