<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Edit Car</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Car Rental Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cars
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/car/registration}">Add car</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/cars}">View cars</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" th:href="@{/employee/registration}">Add employee</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/employees}">View employees</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Branches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/branch/registration}">Add branch</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/branches}">View branches</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rental offices
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/rentaloffice/registration}">Add rental office</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/rentaloffices}">View rental offices</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/customer/registration}">Add customer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/customers}">View customers</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>

<br>

<div class="container">
    <form th:action="@{/car/update}" th:object="${car}" method="post">
        <input hidden th:field="${car.id}">
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="make-span">Make</span>
                </div>
                <input type="text" id="make" th:field="${car.make}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('make')}" th:errors="${car.make}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="model-span">Model</span>
                </div>
                <input type="text" id="model" th:field="${car.model}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('model')}" th:errors="${car.model}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="bodyType-span">Body Type</span>
                </div>
                <select id="inputGroupSelect1" class="custom-select" th:field="${car.bodyType}"}>
                    <option th:each="bodyType : ${T(com.sda.carrentalservice.entity.BodyType).values()}"
                            th:value="${bodyType}"
                            th:text="${bodyType.displayName}">
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="yearOfProduction-span">Year Of Production</span>
                </div>
                <input type="text" id="yearOfProduction" th:field="${car.yearOfProduction}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="${car.yearOfProduction}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="color-span">Color</span>
                </div>
                <input type="text" id="color" th:field="${car.color}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('color')}" th:errors="${car.color}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="mileage-span">Mileage</span>
                </div>
                <input type="text" id="mileage" th:field="${car.mileage}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('mileage')}" th:errors="${car.mileage}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="amount-span">Amount</span>
                </div>
                <input type="text" id="amount" th:field="${car.amount}" class="form-control"
                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span th:if="${#fields.hasErrors('amount')}" th:errors="${car.amount}"></span>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="status-span">Status</span>
                </div>
                <select id="inputGroupSelect" class="custom-select" th:field="${car.status}"}>
                    <option th:each="status : ${T(com.sda.carrentalservice.entity.Status).values()}"
                            th:value="${status}"
                            th:text="${status.displayName}">
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Branch</label>
                </div>
                <select id="inputGroupSelect01" class="custom-select" th:field="${car.branch.id}">
                    <option selected th:value="null">Choose</option>
                    <option th:each="branch : ${allBranches}" th:value="${branch.id}" th:text="${branch.name}"></option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-primary">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                </svg>
                save
            </button>
        </div>
    </form>
</div><!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>