<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<h2>Employees</h2>

<table>

    <thead>
    <th>First name</th>
    <th>Last name</th>
    </thead>

    <tbody>
    <tr th:each="employee : ${employees}">

        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td><a th:href="@{/employee/edit/{id}(id = ${employee.id})}"></a></td>
        <td><a th:href="@{/employee/delete/{id}(id = ${employee.id})}"> 
            <i></i>
        </a>
        </td>

    </tr>
    </tbody>

</table>

</body>
</html>