<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body style="background-color: lavender">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><b>Car Rental Service</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <a role="button" class="btn btn-info"
               th:href="@{/register}">Register</a>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">Wrong username or password</div>
    <div class="alert alert-secondary" role="alert" th:if="${param.logout}">You have been logged out.</div>
    <form style="padding-top: 1rem" th:action="@{/login}" method="post">

        <div class="form-group">
            <div>
                <label for="username">Username</label>
            </div>
            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
        </div>

        <div class="form-group">
            <div>
                <label for="password">Password</label>
            </div>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control">
        </div>

        <div class="container"
             style="display:flex; flex-direction: column; align-content:center; justify-content: center; max-width: 100%; padding: 1.5rem 0px">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </form>
</div>

<div class="container" style="display: flex; flex-direction: row; margin-bottom: 1.2rem; align-items: center; width: 60%">
    <hr style="flex: auto; border: none; height: 1px; background:black;">
    <span style="color: brown; padding: 0 0.8rem;">OR</span>
    <hr style="flex: auto; border: none; height: 1px; background: black;">
</div>

<div class="container"
     style="display:flex; flex-direction: column; align-content:center; justify-content: center">
    <button class="btn btn-outline-info">
        <a th:href="@{/register}">Create an account</a>
    </button>
</div>

<div class="container; bottom-toolbar" style="text-align: center; font-size: 0.8rem; padding-top:7rem">
    <footer>
        <p>Copyright &copy; 2020, MyWebsite All Rights Reserved</p>
        <div>
            <a style="text-decoration: underline" href="#">Terms of use</a> | <a
                style="text-decoration: underline" href="#">Privacy Policy</a>
        </div>
        <div>
            <a style="text-decoration: underline" href="#">Contact us</a>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>
</html>